@page "/AccountRegister/Login"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization

@model ServiceHost.Areas.Identity.Pages.Account.LoginModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Login"];
}
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

<div class="panel panel-color panel-primary panel-pages">
    <div class="panel-heading bg-img">
        <div class="bg-overlay"></div>
        <h3 class="text-center m-t-10 text-white">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal m-t-20" method="post" asp-antiforgery="true">
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.Email" class="form-control input-lg" autocomplete="Email" aria-required="true" placeholder="@Localizer["EnterNumber"]" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.Password" class="form-control input-lg" autocomplete="current-password" aria-required="true" placeholder="@Localizer["EnterPassword"]"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating text-center m-3">
                <div class="checkbox checkbox-primary">
                    <input id="checkbox-signup" type="checkbox">
                    <label for="checkbox-signup">
                        @Localizer["RememberMe"]
                    </label>
                </div>
            </div>
            <div class="m-3 m-t-40">
                <a class="btn btn-info btn-block btn-lg w-lg waves-effect waves-light" href="/AccountRegister/LoginWhitSms">@Localizer["Sms"]</a>
            </div>
            <div class="row text-center m-t-40">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit" >@Localizer["Login"]</button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-success btn-lg w-lg waves-effect waves-light" href="/AccountRegister/Register">@Localizer["Registration"]</a>
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
